materialidad.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Elemento raíz -->
    <xs:element name="empresa_sostenible">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stakeholders" type="tipoStakeholders"/>
                <xs:element name="temas_materiales" type="tipoTemasMateriales"/>
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required"/>
            <xs:attribute name="sector" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- Bloque stakeholders -->
    <xs:complexType name="tipoStakeholders">
        <xs:sequence>
            <xs:element name="stakeholder" type="tipoStakeholder" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tipoStakeholder">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="descripcion" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"  use="required"/>
        <xs:attribute name="tipo" type="tipoInternoExterno" use="required"/>
        <xs:attribute name="importancia" type="tipoImportancia"    use="required"/>
    </xs:complexType>

    <!-- Bloque temas materiales -->
    <xs:complexType name="tipoTemasMateriales">
        <xs:sequence>
            <xs:element name="tema_material" type="tipoTemaMaterial" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tipoTemaMaterial">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="descripcion" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="impacto_asg"   type="tipoPilarASG"    use="required"/>
        <xs:attribute name="nivel_impacto" type="tipoNivelImpacto" use="required"/>
    </xs:complexType>

    <!-- Tipos enumerados -->
    <xs:simpleType name="tipoImportancia">
        <xs:restriction base="xs:string">
            <xs:enumeration value="alta"/>
            <xs:enumeration value="media"/>
            <xs:enumeration value="baja"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoInternoExterno">
        <xs:restriction base="xs:string">
            <xs:enumeration value="interno"/>
            <xs:enumeration value="externo"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoPilarASG">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Ambiental"/>
            <xs:enumeration value="Social"/>
            <xs:enumeration value="Gobernanza"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoNivelImpacto">
        <xs:restriction base="xs:string">
            <xs:enumeration value="critico"/>
            <xs:enumeration value="significativo"/>
            <xs:enumeration value="moderado"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
